body {
    margin: 0;
}

h1 {
    font-size: 60px;
}

span {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom:
        0%;
}

.half-width {
    width: 100%;
    padding: 10%;
}

.half-width img {
    width: 120%;
}

.page-button {
    text-decoration: none;
    background-image: linear-gradient(navy, blue);
    padding: 10px 40px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-banner {
    background-image: url(images/right\ banner.png);
    background-repeat: no-repeat;
    background-position: right;
    
}